<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/marharyta-horbunova/Documents/project/projectJuniorHorbunova/src/test">
        <classes>
            <class name="Tests.ArticleTest">
                <methods>
                    <include name="testArticleIsOpen"/>
                    <include name="testArticleIsOpenFromTopicPages"/>
                    <include name="testArticleIsOpenFromSportPage"/>
                    <include name="verifyUserSignInFromModalAfterArticleSave"/>
                    <include name="verifyUserRegistersFromModalAfterArticleSave"/>
                    <include name="testUserIsAbleToSaveArticle"/>
                    <include name="testUserIsAbleToRemoveSavedArticle"/>
                    <include name="testUserIsAbleToOpenSavedArticle"/>
                </methods>
            </class>
            <class name="Tests.HeaderNavigationTest">
                <methods>
                    <include name="testHeaderHomeOptionNavigation"/>
                    <include name="testHeaderOptionsNavigation"/>
                    <include name="testHeaderSecondaryOptionsNavigation"/>
                    <include name="testSecondaryOptionsNavigationSportPage"/>
                </methods>
            </class>
            <class name="Tests.NavigationMenuTest">
                <methods>
                    <include name="testLeftHandMenuIsOpenAndClose"/>
                    <include name="testSearchByWords"/>
                    <include name="testLeftHandMenuHomeOptionOpensHomePage"/>
                    <include name="testLeftHandLevelOneSubOptionsAreUnfolded"/>
                    <include name="testLeftHandSubOptionsLevelTwoAreUnfolded"/>
                    <include name="testLeftHandMenuOptionNavigateToPage"/>
                </methods>
            </class>
            <class name="Tests.SignInFailureTest">
                <methods>
                    <include name="testCannotGetToPasswordIfRegEmailNotRegistered"/>
                    <include name="testCannotGetToPasswordIfRegEmailIsEmpty"/>
                    <include name="testCannotGetToPasswordIfRegEmailIsInvalid"/>
                    <include name="testCannotCompleteSignInIfRegPasswordIsInvalid"/>
                    <include name="testCannotCompleteSignInIfRegPasswordIsEmpty"/>
                    <include name="testAccountIsLockedOnSixthAttempt"/>
                    <include name="testCannotLogInIfRegistrationNotComplete"/>
                </methods>
            </class>
            <class name="Tests.SignInSuccessTest">
                <methods>
                    <include name="testSignInWithValidCredentialsSignIn"/>
                    <include name="testSignInWithValidCredentialsSignUp"/>
                    <include name="testSignInWithValidCredentialsSportPage"/>
                </methods>
            </class>
            <class name="Tests.SignOutTest">
                <methods>
                    <include name="testUserIsAbleToSignOut"/>
                </methods>
            </class>
            <class name="Tests.SignUpFailureTest">
                <methods>
                    <include name="testCannotGetToPasswordIfEmailIsRegistered"/>
                    <include name="testCannotGetToPasswordIfNewEmailIsInvalid"/>
                    <include name="testCannotGetToPasswordIfNewEmailIsEmpty"/>
                    <include name="testCannotCompleteSignInIfNewPasswordIsEmpty"/>
                    <include name="testCannotCompleteSignInIfNewPasswordLengthIsSeven"/>
                    <include name="testCannotCompleteSignInIfNewPasswordHasNoLetter"/>
                    <include name="testCannotCompleteSignInIfNewPasswordHasNoCharactersAndNumbers"/>
                    <include name="testCannotCompleteSignInIfNewPasswordIsCompromised"/>
                </methods>
            </class>
            <class name="Tests.SignUpSuccessTest">
                <methods>
                    <include name="testSignUpWithValidCredentialsSignUp"/>
                    <include name="testSignUpWithValidCredentialsSignIn"/>
                    <include name="testSignUpWIthValidCredentialForgotEmail"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>